.App {
  text-align: center;
}

.App {
  text-align: center;
}


header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 90%;
  position: relative;

}

.cover {

  height: 100%;
  background: rgba(71, 70, 70, 0.4);
  border-radius: 50%;
  opacity: 0;
}



.photo {
  position: absolute;
  bottom: 1rem;
  left: 43%;

}



.share {
  position: absolute;
  top: 0;
  right: 0;
}

.share img:first-child {
  display: none;
  width: 2rem;
}

.share img:last-child {

  width: 2rem;

}

.slack {
  display: none;
}

.name {
  font-size: larger;
  font-weight: 700;
}


.images {
  border: 1px solid rgb(146, 146, 146);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(./images/model.jpg);

}

.images:hover .cover {
  opacity: 1;
}

.images:active {
  border: 6px solid rgb(157, 155, 155);
}

/* This is for the button section */
main {
  width: 90%;
  margin: 0 auto;
}

button {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  border: none;
  border-radius: .3rem;
  background-color: #eaecf0;

}

button:hover {
  background-color: #D0D5DD;
}



.subtext {
  font-size: small;
  font-weight: 400;
}

button a {
  text-decoration: none;
  color: rgb(35, 35, 35);
  font-weight: 600;
}

/* This is for the Logo section  */

.logo img {
  max-width: 2rem;
  padding: 1.5rem;
}

/* This is the footer section  */

footer {
  margin: 5rem 0 auto;


}

.container {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid rgba(127, 127, 131, 0.3);
  padding: 2rem 0;
}

@media screen and (min-width: 657px) {
  .share img:last-child {
    display: none;
  }

  .share img:first-child {
    display: block;
  }

  .share {
    right: 20%;
  }
}