.App {
  text-align: center;
}

.App {
  text-align: center;
}

header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 90%;

}


.images {
  border: 3px solid rgb(146, 146, 146);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./model.png);

}

main {
  width: 90%;
  margin: 0 auto;
}

button {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  border: none;
  border-radius: .3rem;
}

button a {
  text-decoration: none;
  color: rgb(35, 35, 35);
  font-weight: 600;
}