form {
    border: 2px solid red;
    width: 53%;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
}

.contain {

    display: flex;
    gap: 1rem
}

.contain div,
input {
    width: 100%;

}

textarea {
    width: 100%;
}

.term {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0;

}

.term input {
    border: 3px solid gold;
    width: 2rem;
}